<h1>Achieveに新しく問い合わせが投稿されました！</h1>


<h4>name: <%= @contact.name %></h4>
<h4>email: <%= @contact.email %></h4>
<p>content: <%= @contact.content %></p>
<p>
  <%= link_to '投稿された問い合わせはこちら', contacts_url %>
</p>


